<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>238883448538-1rkb3r75gevr7sn97o8139c8550tlnsp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.238883448538-1rkb3r75gevr7sn97o8139c8550tlnsp</string>
	<key>API_KEY</key>
	<string>AIzaSyARunlug55HRsPisQ5banALxxrC5C2hp9Y</string>
	<key>GCM_SENDER_ID</key>
	<string>238883448538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>my.caspian.mycoldstaff</string>
	<key>PROJECT_ID</key>
	<string>mycold-d6678</string>
	<key>STORAGE_BUCKET</key>
	<string>mycold-d6678.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:238883448538:ios:421aac546becf6b307a7e3</string>
</dict>
</plist>